<div class="footer">
  <div class="navbar-inner">
    <div class="copy-right">
      © 2014  <a href="http://kannada.sanchaya.net" target="_blank"> ಕನ್ನಡ ಸಂಚಯ  </a>| ಸಾಹಿತ್ಯ ಸಂಶೋಧನೆ ಹಾಗೂ ಅಧ್ಯಯನ ವೇದಿಕೆ
    </div>
  </div>
</div>